language: node_js
node_js:
- 5
env:
  global:
    secure: ibrr9Js9d7yYybif6IIug2ohpCCBLYt7waYN/yI99vfSxd6R0Y83MzHkI505tPue8U1PyvMg3r2LxJ3gmOUem5UpqQPqMCVa9Ck1FfXTK6NtRXN7caK/Q+Rd5CTOPTAKj8JB+QcZQoBpDq/xUNEhUIUldn8KVDqqFvV4sEk1zK9eeHXMXQjmqdKoGLEnxspU5WN7072tqZdUr4r8/m4E+s2o9r92Ya0Jck4J1MmWM6YBpEatEwA56wyeY8iDvLIyuYWKF5VsixAhVG8tIlMlXj+6iZywz7WhnX3x/RerKWNBAocRppQLaKFhydotQukBMzbgAdlgEQ3Dvk9J38HhrUmViTgwH/0aX9CQu5bLZMam0sk1HIeEdns1LrJeTyMIjGoJnC1ZQLGTYPc0igk/MDGVAcjdzJKTdletynlhKaieD5b2GpVhW/vXOrPKQlmfMcPeAYxIHkMmP+H/OHETR+rkD0etgcOKcULGzuInNLskGndHSscSzhSnkgNzTpeEp/dPODjo78ele+nFfhZ7PL0sZucBrXu6LrqjLirAaScKoirZ7Hb3C2WJMQQIOX1HwsA/ObKBxpMxCPREYArYjs69v+PPiEWpTIqosvbvBTMR7m2C1WtCDnNONpfLCRjR3qEOiyVQ2q5gXNCQIio42hhFba17/NzxBjylaJk419k=
before_script:
- git config --global user.email "basaratali@gmail.com"
- git config --global user.name "Travis-CI"
- git remote set-url origin https://github.com/basarat/byots.git
script:
- bash prepare.sh
after_success:
- git config credential.helper "store --file=.git/credentials"
- echo "https://${GH_TOKEN}:@github.com" > .git/credentials
- git config --global push.default matching
- bash release.sh
branches:
  only:
  - master
deploy:
  skip_cleanup: true
  provider: npm
  email: basaratali@gmail.com
  api_key:
    secure: oNTLrikDPcsDP7zAZrClovGrlEo+Zf9BOYqhI8VekqXW+TijY0l0QpLCwaB4soEtCdHqP8VPfu6DwJJ8hvwxpaKNr3Lr4S2DA2mKLsy5Ro4hau/b65tXUZ8ZEvKCTnHZa7PCtHemxhqc7Tul5O3L9pqr8nl8ZtJFwMSbxjtNjwvZzEPlwN1kvnsZ4qU6/Fph19MlDvHLI1No8K523FMBN2PcnS3xOQyZK2Hn6Jk/MwldGSQ4OSE3wwLiEsvJ2uAwtbyoZlvLbJNMl9r1qgoGB6VTzulgEP0NY81ksuz2MZip7nz9W2aw8yWL2iN7mTBCCXHwP8ec1y5ojI3P+LH2gbB3ec96P8WBN9NHMOBhMPcH8rKZkkGm6K5L5c9QttiDmoL2Aj5tBj+Xgq1L1+qO3pDSn6LbKAnHvpR77iUhnZA7m1CPLAMV0E8XzZGWnthMCEjq+cqdrP4lUxqowdYwbF/fgSCueE8JCsWEIlZA9arHrYMqJxLjr8CNrN9jgo99jba0KeT23j1NEeGZItLi+AbtebU06IKiyEqk+6yw3LGJZbswwjchzVImWtHVgiBtowvGzZDz2fuj6makmJLhoQKznvnzuZXi5JoBxQ4v/Qi6pneTfB2Je9k4gW/4RQT1GqgchkChozHl8R/3U10V09dU7jFFgrVmfBu/tJ8g+Qc=
  on:
    repo: basarat/byots
